.grid-body-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.grid-body-item {
    height: 20px;
    width: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column: auto;
    grid-auto-rows: auto;
    row-gap: 75px;
    column-gap: 10px;
}

.grid-item {
    background-color: rgb(95, 159, 239);
    height: 250px;
    padding-right: 2px;

}

.grid-cart-container {
    border: 2px solid;
    display: grid;
    grid-template-columns: auto ;
    row-gap: 25px;
    column-width: 100px;
    justify-content: right;
}

.grid-cart-item {
    height: 20px;
}